rawData/pollresults_resultatsbureau_canada_39.zip
rawData/pollresults_resultatsbureau_canada_40.zip
rawData/pollresults_resultatsbureau_canada_41.zip
rawData/pollresults_resultatsbureau_canada_42.zip
work
.rawDbTablesCreated
.rawHistoryDataLoaded
.rawRecentDataLoaded
.rawDataLoaded
*.json
.buildElections
